.container {
  display: flex;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
}

.first_column {
  margin: 50px 0px 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border: 1px solid black;
}

.title_messanger {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
}

.title_messanger_second {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  margin-top: 30px;
  margin-bottom: 10px;
}

.second_column {
  margin: 50px 0px 0 20px;
  height: 400px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  border: 1px solid black;
}

.message_container {
  width: 100%;
  display: flex;
  align-items: baseline;
}

.name {
  margin-left: 10px;
  color: rgb(27, 216, 121);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
}

.message {
  margin-left: 10px;
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
}

.buttons {
  width: 300px;
  display: flex;
  justify-content: space-around;
}
